body {
    align-self: center;
    margin: 10px 3vb;
}

h1 {
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 45px;
}

.main-content {
    text-align: center;
}

.questionfield {
    font-size: 25px;
    font-family: sans-serif;
}
button {
    display: inline-block;
    width: 300px;
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #767d7b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.answerbuttons {
    display: flex;
    justify-content: center;
}
img {
    height:100px;
    margin: auto;
}
.answer {
    display: block;
}

#answer {
    font-size: 20px;
    font-family: sans-serif;
}